rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /hero/{fileName} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email in ['kj0010735@gmail.com'];
    }
  }
}
